    <div  class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item ">
            
            <a routerLink="add-account-holder" class="nav-link" class="btn btn-primary active" role="button" >Add Account Holder</a>
          </li>&nbsp;

          
          <li class="nav-item ">
            
            <a routerLink="view-account-holder" class="nav-link" class="btn btn-primary active" role="button" >View Account Holder</a>
          </li>&nbsp;
          
          <li class="nav-item ">

          <a routerLink="view-account" class="nav-link" class="btn btn-primary active" role="button" >View Account</a>
          </li>&nbsp;
         
          <li class="nav-item">
            <a  routerLink="add-account" class="nav-link" class="btn btn-primary active" role="button" >Add Account</a>
          </li>          
       
        </ul>
      </nav>   
        <router-outlet></router-outlet>
    </div>
    